header {
    text-align: center;
    background-color: darkgray;
    padding: .5em;
}


nav {
    color: whitesmoke;
}

h1 {
    color: maroon;
    font-weight: 700;
}

h2 {
    color: maroon;
    font-weight: 600;
}

p,
a {
    color: black;
    font-weight: 500;
}

.inline li {
    display: inline;
}

a:hover {
    color: maroon;
}

img.menu {
    max-width: 50%;
}

.button {
    font-size: large;
    color: maroon;
    font-weight: 600;
    border-color: maroon;
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
    padding: .25em;
}

.info {
    font-style: italic;
}